/* RESET & BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

 
.resp_table {
	max-width: 	630px;
	margin:0  auto 0;

	.hidden {
		display:block;
		padding: 0 0 3px;
		  text-transform:uppercase;
		  color: var(--wgr);
	}
	.hideondesktop {
		background-color:yellow;
		display:none !important;
	}	
	.hideonmobile {
		display:none  !important;
	}
 
	 table { 
		max-width: 	var(--content-small);
		width:90%;
		margin: 0px auto 100px;
  
			  th { text-align:left;  color: var(--w-green); 
				  
				  font-family:var(--font-base-heading);
				  
			   }
			  
			  .subheading {
						  th { color: var(  --wgr); font-weight:normal; text-transform: uppercase; }
			 }

			 &.single {
					@media screen and (max-width:479px)  {
					 
					
					
							  text-align: left;
							  border-collapse: collapse;
							  
							  tbody {
								  display: flex;
								  flex-wrap: wrap;
								 
								 tr { 
								  display: flex;
									flex-wrap: wrap;
									flex:0 0 100%;
									
									border-top:1px solid var(--table-cell-border);
									
									&:last-child {
										border-bottom:1px solid var(--table-cell-border);
									}
									
									&:nth-of-type(even) > * {
										background: var( --alternatingmobilecolour);
									}
								
									td {
													width:100%;
													padding:10px;
													border-bottom:1px solid var(--table-cell-border);
													font-family:var(--font-base-heading);
													
													&:last-child {
														border-bottom:0px;
													}
													
										}  
								}
							}
						}
					@media screen and (min-width: 480px)  {
							
							
					
								border-collapse: collapse; 
					
							 tr {
								  border-bottom:1px solid var(--table-cell-border);
								  
								  
								  td,th {
									  text-align:center;
									  padding:10px 5px ;
									  border:1px solid var(--table-cell-border) !important;
									  font-family:var(--font-base-heading);
									  color:var(--w-green);
									  font-size:14px;
									  font-weight:300;
								  }
								  
								  th {
									  font-weight:400;
								  }
								  
								  &:nth-of-type(even) > * {
									  background: var( --alternatingmobilecolour);
								  }
							  }
							.hidden { // Hide The label
								display:none;
							}
							
							.hideonmobile { // display items just hidden on mobile
								display:table-row !important;
							}
							
							.hideondesktop { // hide items for desktop
								display:none !important;
								
								&.hideonmobile {  // stop hideon mobile reshowing
									display:none !important;
								}
							}
							
							
							
							}
			
			}
			&.double {
				@media screen and (max-width: 560px)  {
				 
				
				
						  text-align: left;
						  border-collapse: collapse;
						  
						  tbody {
							  display: flex;
							  flex-wrap: wrap;
							 
							 tr { 
							  display: flex;
								flex-wrap: wrap;
								flex:0 0 100%;
								
							//	border-top:1px solid var(--wgr);
								
								&:last-child {
							//		border-bottom:1px solid var(--wgr);
								}
								
								&:nth-of-type(even) > * {
									background: var( --alternatingmobilecolour);
								}
							
								td {
												width:100%;
												padding:10px;
											//	border-bottom:1px solid var(--wgr-light);
												
												&:last-child {
													border-bottom:0px;
												}
												
									}  
							}
						}
					}
				
				@media screen and (min-width:561px) and (max-width: 699px)  {

					  text-align: left;
					  border-collapse: collapse;
					  
					  tbody {
						  display: flex;
						  flex-wrap: wrap;
						  border:1px solid var(--wgr);
						  
						 
						 tr { 
						  display: flex;
							flex-wrap: wrap;
							flex:0 0 50%;
							
						//	border-bottom:1px solid var(--wgr);
							
							&:last-child, &:nth-last-child(2) {
								border-bottom:0;
							}
							
							
							&:nth-of-type(even) > * {
								background: var( --alternatingmobilecolour);
							}
						
							td {
											width:100%;
											padding:10px;
											border-bottom:1px solid var(--wgr-light);
											
											&:last-child {
												border-bottom:0px;
											}
											
								}  
						}
					}
				}
				@media screen and (min-width: 700px)  {
						
						
				
							border-collapse: collapse; 
				
						 tr {
							 
							  
							  td,th {
								  padding:10px 5px ;
								  //border:1px solid rgba(128, 128, 128, 0.5);
							  }
						  }
						.hidden { // Hide The label
							display:none;
						}
						
						.hideonmobile { // display items just hidden on mobile
							display:table-row !important;
						}
						
						.hideondesktop { // hide items for desktop
							display:none !important;
							
							&.hideonmobile {  // stop hideon mobile reshowing
								display:none !important;
							}
						}
						
						
						
						}
				
			}
			
	}
}