.businessslider {
	height: 700px;
	

	@media only screen and (min-width:430px) {
		height: calc(100vh - 95px);
	}
	
	.splide__slide {
		height: 700px;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;

		@media only screen and (min-width:430px) {
			height: calc(100vh - 95px);
			justify-content: flex-start;
			align-content: center;
			align-items: flex-start;
		}
	}
	.databox {
		position:absolute;
		background-color: #fff;
		width:90%;
		max-width: 393px;
		background-color: #fff;
		margin: 0px auto 0;
		box-sizing: border-box;
		text-align: center;
		padding: 50px;
		//height: 450px;
		

		
		@media only screen and (min-width:440px) {
			margin: 25px 0 0 25px;
		}

		@media only screen and (min-width:645px) {
			margin: 75px 0 0 75px;
		}
		
		
		h2 {
			color:var(--w-green);
			font-size: 33px;
			text-transform: uppercase;
			margin-bottom: 17px;
			line-height: 34px;
		}
		
		p {
			text-align:center;
		}
		
		a {
			font-family: "Montserrat", sans-serif;
			color: var(--w-green);
			border: 1px solid var(--w-green);
			background-color: #FFF;
			transition: all 0.25s;
			padding: 6px 20px;
			text-transform: uppercase;
			display: inline-block;
			transition: all 0.25s;
			margin-top: 20px;
			font-size: 14px;
			font-weight:400;
			
			&:hover {
				background-color: var(--w-green);
				color:#FFF;
			}
		}
	}
	
	.splide__arrows {
		
		width:100%;
		max-width: 393px!important;

		
		.splide__arrow {
			
			
			right:25px;
			opacity:1;
		background-color:transparent;
		background-size:100%;
		background-repeat:no-repeat;

		svg {display:none;}

			&.splide__arrow--prev {
				background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath fill='%23004A33' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
				margin-left:10px;
				@media only screen and (min-width:440px) {
					top:164px;
					left:20px;
				}
				@media only screen and (min-width:645px) {
					top:234px;
					left:70px;
				}
			}
			&.splide__arrow--next {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath fill='%23004A33' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
	
				@media only screen and (min-width:440px) {
					top:164px;
					left:380px;
				}

				@media only screen and (min-width:645px) {
					top:234px;
					left:430px;
				}
			}

			&:hover {
			
				&.splide__arrow--prev {
					background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath fill='%23C49A6C' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
				}
				&.splide__arrow--next {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath fill='%23C49A6C' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
				}
				
			}


		}
	}
	.splide__pagination {
		max-width:100%;
		bottom:60px;
		
		li {
			button.splide__pagination__page {
				background: transparent;
				border: 3px solid #FFF;
				border-radius: 50%;
				display: inline-block;
				height: 15px;
				width:15px;
				margin: 3px;
				opacity: 0.7;
				padding: 0;
				position: relative;
				transition: none !important;
				
				&:is-active {
					background-color: var(--w-green) !important;
					border: 3px solid #FFF;
					border-radius: 50%;
					height: 15px;
					width:15px;
					transform: scale(1) !important;
				}
				
			}
		}
	}

}