#mc_embed_signup{
	background:var(--w-green);
	 clear:left;
	font-family:var(--font-base);
	color:var(--w-green);
	 margin:0px auto 100px;
	 max-width:var(--content-small);
	 padding:30px 0;

	 h2 {
		 text-align:left;
		 color:#FFF;
		 font-family:var(--font-base-heading);
		 font-size: 18px;
		 font-weight: 300 !important;
		 text-transform: capitalize;
		 font-style: normal;
		 
		 margin-bottom:30px;
		 display:block;
	 }
	 
	 label {
		 font-family:var(--font-base);
		 color: #FFF;
		 font-weight: 300 !important;
	}
	
	strong {
		font-style: normal;
	}
	
	.button {
		margin:0px auto 0px !important;
		background-color: #FFF !important;
		color:var(--w-green) !important;
		font-size: 15px !important;
		padding: 6px 24px 8px ;
		height:38px!important;
		border-radius: 0px !important;
		position: inherit !important;
		font-family:var(--font-base-heading) !important;
		font-weight: 300 !important;
		&:after {
			display:none !important;
		}
		
		&:hover {
			color:#FFF !important;
			background-color: var(--w-gold) !important;
		}
	}

}
