section {
	width:100%;
	box-sizing: border-box;
	

}



.nomg { margin-top: 0 !important; margin-bottom: 0 !important; }
.stmgtp { margin-top: var(--standardgap) !important; margin-bottom: 0 ; }
.stmgbt { margin-top: 0; margin-bottom: var(--standardgap) !important;}
.stmgtpbt { margin-top: var(--standardgap) !important; margin-bottom: var(--standardgap) !important; }
.dbmgtp { margin-top: var(--doublegap) !important; margin-bottom: 0; }
.dbmgbt { margin-top: 0 !important; margin-bottom: var(--doublegap) !important;  }
.dbmgtpbt { margin-top: var(--doublegap) !important; margin-bottom: var(--doublegap) !important;   }


.qdmgtp { margin-top: var(--quadgap) !important; margin-bottom: 0 !important; }
.qdmgbt { margin-top: 0 !important; margin-bottom: var(--quadgap) !important;  }
.qdmgtpbt { margin-top: var(--quadgap) !important; margin-bottom: var(--quadgap) !important;   }

.qdmgtpbtdb { margin-top: var(--quadgap) !important; margin-bottom: var(--doublegap) !important;   }



