@font-face {
    font-family: 'Clarendon Text';
    src: url('assets/fonts/ClarendonTextRegular.eot');
    src: url('assets/fonts/ClarendonTextRegular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/ClarendonTextRegular.woff2') format('woff2'),
        url('assets/fonts/ClarendonTextRegular.woff') format('woff'),
        url('assets/fonts/ClarendonTextRegular.ttf') format('truetype'),
        url('assets/fonts/ClarendonTextRegular.svg#ClarendonTextRegular') format('svg');
    //font-weight: 400;
    font-style: normal;
    font-display: swap;
}

