/* Desktop Version */
$DeskNavLink : #FFF;
$DeskNavLinkHover : yellow;
$dropdownbackground : orange;

/* Mobile Version */
$mobilebreakpoint : 850px;
$overlaynavcolor : blue;
$MobileNavLink : #FFF;
$MobileNavLinkHover : yellow;
$MobileMenuOpen : #FFF;
$MobileMenuOpenHover : yellow;
$MobileMenuClose : #FFF;
$MobileMenuCloseHover : yellow;
$innerULborder : rgba(255,255,255,0.7);



header {
	position:fixed;
	left:0;
	right:0;
	background-color:green;
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
	
	display:none;
	
	&.fixed {
		background-color:blue;
	}




.navigation-menu {
	display:block;
  	position: relative;
  	
  	min-height:80px;

/* Mobile Version */	
	.main-navigation {
  		
  		padding-left: 0px;
		display:inline-block;
		
		
		div.logo {
			
			width:200px;
			height:60px;
			position:absolute;
			left:10px;
			top:10px;
			a {
				display:block;
				width:100%;
				height:100%;
				background-color:pink;
				color:#FFF;
			}
		}  
		  
		
		li {
			display: none;
  			list-style-type: none;
  			margin: 0px auto;
  			text-align: center;
		
				a {
  							
  							color: $DeskNavLink;
  							margin: 0px 2px 0px 2px;
  							text-decoration: none;
  							display: inline-block;
						
						
							&:hover {
  								color: $DeskNavLinkHover ;
  								transition: 0.3s ease;
							}
						}
		}
	}
	.menuopen {
		position:absolute;
		right:0;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		width:45px;
		height:60px;
  		margin: 10px 10px 10px auto;
  		cursor: pointer;
  		font-size: 35px;
  		color: $MobileMenuOpen;
	  		&:hover {
		  		color:$MobileMenuOpenHover;
	  		}
	}
	.menuclose {display:none;}
	#menu-toggle { display: none; }
	#menu-toggle:checked + .main-navigation {
		position: fixed;
		z-index:2000;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color:$overlaynavcolor;
    	display: block;
    	margin:0;
  	  	padding:100px 0 0 ;
  		label.menuclose {
			  z-index:2100;
			position:absolute;
			right:0;
			top:0;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			width:45px;
			height:45px;
			  margin: 20px 10px 5px auto;
			  cursor: pointer;
			  font-size: 35px;
	  		color : $MobileMenuClose;
	  		
	  		&:hover {
		  		color : $MobileMenuCloseHover;
	  		}
  		}
  	
  		li {
			
			  display:block;
		  	a {color:$MobileNavLink;
			  	
			  	&:hover {
				  	color:$MobileNavLinkHover;
			  	}
		  	}
			 > ul {
				 margin:0px auto;
				 padding:8px 0;
				 position:relative;
				 display:block;
				
				 
				 &:before {
					 top:0;
					 content:"";
					 border-top: 1px dashed $innerULborder;
					 width:80px;
					 height:1px;
					 display:block;
					 margin:2px auto 5px;
				 }
				 &:after {
					  bottom:0;
					  content:"";
					  border-top: 1px dashed $innerULborder;
					  width:80px;
					  height:1px;
					  display:block;
					  margin:10px auto 2px;
				  }
				 
				 li {
					 width:100%;
					 margin:0 auto;
					  padding:0;
					 
				 }
			 }
	  	}
	}
	
/* Desktop Version */
	@media screen and (min-width: $mobilebreakpoint ) {

		//height: 70px;
		display: flex;
		align-items: center;
		
		.menuopen {display:none; }

  		.main-navigation {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin:auto 0 auto auto;
			padding:0;
  		
		
  			li {
			  	position:relative;
				  display:block;
		  		a {
					padding: 5px 8px;
  		  		}
			
				ul {display:none;
					position:absolute;
					top:100%;
					background-color:$dropdownbackground;
					margin:0;
					padding:10px;
					
					
					li {white-space: nowrap;
						display:block;
						padding:5px;
						
							margin:0;
							white-space: nowrap;
							display:block;
							padding:0px !important;
							
							a {
								display:block;
								margin:0!important;
								padding:5px!important;
							}
					}
					
				}
				
				&:hover {
					ul {display:block;}
				}
			}
		}
		
  		label {
			display: none;
  		}
	}
}

}
