
.wellingtonMenu {
	position: fixed;
	  background-color: var(--w-green);
	  top: 0;
	  right: 0;
	  left: 0;
	  z-index: 2000;
	  -webkit-transition: margin 0s;
	  transition: margin 0s;
	box-sizing:border-box;
	width: 100%;
	height: 95px;
	margin: 0;
	padding: 0 10px;

	.navigationbar {
		position:absolute;
		z-index:31;
		top:0;
		bottom:0;
		left:30px;
		right:0;
		height: 95px;
		display: flex; 
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		
		.logo { 
				a { 
					margin:auto auto auto 0;
					height: auto;
					width:135px;
					display:block;
					
					img {
						display:block;
						width:100%;
						height:100%;
					}
				}
		}
		.navleft { 
			display:none;
			ul {
				text-align:right;
			}
		}
		.navright { 
			display:none;
			ul {
				text-align:left;
				
				>li:first-child {
					a {
					padding-left:0;
					}
				}
				
				li {
					ul {
						>li:first-child {
							a {
							padding-left:16px;
							}
						}
					}
				}
			}
		}
		
		ul {
			margin:0;
			padding:0;
			list-style:none;
			li {
				display:inline-block;
				position:relative;
				white-space:nowrap;
				a { 
					display:block;
					text-transform:uppercase;
					color:#FFF;
					 text-decoration:none;
					 font-size: 14px;
					 font-weight: 400;
					 line-height:20px;
					 font-family: 'Montserrat', sans-serif;
					 padding:10px 16px;
					 position:relative;
					&:hover { color:var(--w-gold);}
				}
				
				&.menu-item-has-children { 
				
					>a {
							padding:10px 32px 10px 16px;
								&:after {
									content: "";
									display: block;
									border-style: solid;
									border-width: 5px 5px 0 5px;
									border-color: #fff transparent transparent transparent;
									margin-right:16px;
									position:absolute;
									top:17px;
									right:0px;
								}
					
						&:hover {
							&:after {
								border-color:var(--w-gold) transparent transparent transparent;
							}
						}
					}
				}
				
				ul {
					display:none;
				}
				
				&:hover {
					>ul {
						background-color:var(--w-neutral);
						position:absolute;
						top:100%;
						left:0;
						display:block;
						
						li {
							display: block;
							text-align: left;
							word-break: keep-all;
							
							a {
								display:block;
								text-transform: none;
								padding: 10px 17px;
								font-size:13px;
								color:var(--w-green);
								
								&:hover {
									color:var(--w-gold);
									background-color:var(--w-green);
								}
							}
						}
					}
				}
			}
		}
	}
	
	.logobar {
		position:absolute;
		right:10px;
		z-index:35;
		height: 95px;
		width:110px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: center;
			>div {
				margin-left:10px;
		
			}
			
			.estate-menu-icon {
				order: 3;
				display:none;
				  height: 47px; 
				  flex: 0 0 40px;
				  text-align: center;
				  border: 1px solid #fff;
				  background-color: #F6F2EB;
				  padding: 10px;
				  cursor: pointer;
				  -webkit-transition: all 0.25s;
				  transition: all 0.25s;
			
				
					svg {
						  width: 100%;
						  height: auto;
					
						path {
							  fill: var(--w-green);
							  -webkit-transition: all 0.25s;
							  transition: all 0.25s;
						}
					
					}
				
					&:hover {
						  background-color: transparent;
				
						svg {
							path {
								fill: #FFF;
							}
						}
					}
			}	
			.basket {
				order: 0;
				height: 35px;
				-webkit-box-flex: 0;
				  -ms-flex: 0 0 30px;
				  flex: 0 0 30px;
				display:block;
				a {
					  display:block;
					  width:100%;
					  height:100%;
					  background-image:url('assets/img/logos/basket.svg');
					  background-size:contain;
					  background-repeat:no-repeat;
					  background-position: center center;
					  
					  &:hover {
						  background-image:url('assets/img/logos/basket-hover.svg');
					  }
				}
				

			}
			.search {
				order: 1;
				height: 35px;
				-webkit-box-flex: 0;
				  -ms-flex: 0 0 26px;
				  flex: 0 0 26px;
				a {
					  display:block;
					  width:100%;
					  height:100%;
					  background-image:url('assets/img/svg/search.svg');
					  background-size:contain;
					  background-repeat:no-repeat;
					  background-position: center center;
					  
					  &:hover {
						  background-image:url('assets/img/svg/search-hover.svg');
					  }
				}
			}
			.mobile_menu_button {
				order: 2;
			  -webkit-box-flex: 0;
			  -ms-flex: 0 0 30px;
			  flex: 0 0 30px;
			  height: 25px;
			  margin-right: 0px;
			
					.mobile_menu_cont {
						  display: block;
						  position: absolute;
						  padding: 0;
						  margin: 0;
						  width: 30px;
						  height: 25px;
						  cursor: pointer;
						  z-index: 9;
						  -webkit-transition: all 0.5s ease;
						  transition: all 0.5s ease;
			
						&:hover {
							  opacity: 0.5;
						}
						
						&.active span {
							  display: none;
						}
					
						span {
							  background: #FFF;
							  border: none;
							  border-radius: 3px;
							  height: 3px;
							  width: 100%;
							  position: absolute;
							  top: 0;
							  left: 0;
							  -webkit-transition: all 0.35s ease;
							  transition: all 0.35s ease;
							  cursor: pointer;
						
							&.middle {
								  top: 11px;
							}
							
							&.bottom {
								  top: 22px;
							}
						}
					}
			}
	}


	@media only screen and (min-width: 430px) {

		.logobar {
			width:160px;
			right:20px;
			
			.estate-menu-icon {
				display:block;
			}
		}

		.navigationbar {
			left:20px;
		}


	}
			 
	@media only screen and (min-width: 1300px) {
		.navigationbar {
			left:0;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;
			
			.logo { 
				margin:0 20px;
				flex:0 0 10%;
				order:2;
				text-align:center;
				
					a {
						height: auto;
						width:100%;
						max-width:180px;
						margin:auto;
					}
			}
			
			.navleft {
				order:1;
				flex:1 1 100%;
				display:block;
			}
			.navright {
				order:3;
				flex:1 1 100%;
				display:block;
			}
			
			
		}
		.logobar {
			width:122px;
	
		
		}
		.mobile_menu_button {
			display:none;
		}
	}
	
	@media only screen and (min-width: 1360px) {
		.navigationbar {
			.logo { 
				margin:0 50px;
			}
		}
	}
	@media only screen and (min-width: 1500px) {
		.navigationbar {
			.logo { 
				margin:0 100px;
			}
		}
	}
	@media only screen and (min-width: 1550px) {
		.navigationbar {
			.logo { 
				margin:0 120px;
			}
		}
	}
	
	@media only screen and (min-width: 1690px) {
		.navigationbar {
			.logo { 
				margin:0 170px;
			}
		}
	}
	
	@media only screen and (min-width: 1800px) {
		.navigationbar {
			.logo { 
				margin:0 230px;
			}
		}
	}
}


	
	




.business-menu{
	position: fixed;
	top: 0;
	right: -100%;
	min-width: 300px;
	height: 100vh;
	background: rgba(0,74,51,0.95);
	padding: 70px 30px;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
	
	p.visitestate_title {
		text-align: center;
		color: white;
		font-size: 18px;
		margin:15px auto;
		font-family: var(--font-base);
	}
	
	&.open{
		opacity: 1;
		visibility: visible;
		right: 0;
	}
	
	ul{
		list-style:none;
		padding:0;
		margin:0;
		  li{
			border-bottom: 1px solid #fff;
			padding: 30px 20px;
			a{
				  display: block;
				  font-size: 20px;
				  color: #fff;
				  text-transform: uppercase;
				  text-align: center;
				  
				 
			}
		  }
	}
	
	.close-button{
		  width: 30px;
		  height: 30px;
		  position: absolute;
		  right: 20px;
		  top: 40px;
		  cursor: pointer;
		  
		  span{
			background: var(--w-neutral);
			border: none;
			border-radius: 3px;
			height: 3px;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-transition: all .35s ease;
			transition: all .35s ease;
			
		  }
		  .top{
			  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
			  transform: translateY(11px) translateX(0) rotate(45deg);
		  }
		  .middle{
			  opacity: 0;
		  }
		  .bottom{
			  top: 22px;
			  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
			  transform: translateY(-11px) translateX(0) rotate(-45deg);
		  }
	}

	
	.secondary-menu-image {
		  height: 83px;
		  width: auto;
		margin:0 auto 15px;
	
		&.wider-image{
			  height: 111px;
		}
	}
	
	.secondary-menu {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 95px;
		display: flex;
		justify-content: center;
		
		&-sublink {
			  display: block;
			  height: 100px;
			  width: 33%;
			  margin-left: 10px;
			  padding: 20px 0;
			  text-align: center;
		
			  img {
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			  }
		
			  span{
			display: flex;
			flex-direction: column;
			color: #fff;
			font-size: 10px;
			img{
				  max-height: 36px;
				  margin-bottom: 3px;
			}
		  }
		}
	}



}

.mobile_menu_overlay{
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background: var(--w-green);
		padding: 70px 0;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		z-index: 150;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
		
		&.open{
			opacity: 1;
			visibility: visible;
			right: 0;
		}

		.close-toggle-mobile {
	width:35px;
	height:35px;
	position:absolute;
	top:20px;
	right:20px;
	
	display: block;
	  position: absolute;
	  padding: 0;
	  margin: 0;
	  width: 30px;
	  height: 25px;
	  cursor: pointer;
	  z-index: 9;
	  -webkit-transition: all 0.5s ease;
	  transition: all 0.5s ease;
	
	&:hover {
		  opacity: 0.5;
	}
	
	//
	span {
	  background: #FFF;
	  border: none;
	  border-radius: 3px;
	  height: 3px;
	  width: 100%;
	  position: absolute;
	  top: 20px;
	  left: 0;
	  -webkit-transition: all 0.35s ease;
	  transition: all 0.35s ease;
	  cursor: pointer;
	  transform: rotate(405deg);

		&.middle {
	  	top: 11px;
	  	right: 20px;
	  	display: none;
		}
		&.bottom {
	  	top: 20px;
	  	right: 20px;
	  	transform: rotate(-405deg);
		}
	}
	//
}

		ul{
			padding-left: 0;
			margin: 0;
			
			li{
				display: block;
				margin-left: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				
				a {
					line-height:45px;
					  display:block;
					  text-decoration: none;
					  padding: 10px 25px;
					  color: #FFFFFF;
					  font-size: 30px;
					  
					  text-align: center;
				}
				
				&:hover{
					  background-color: #fff;
					  a {
						background-color: #fff;
						color: var(--w-green);
					  }
					ul {
						display:block;
					}
				}
				&.menu-item-has-children{
					 a {
						  &:after{
							display: inline-block;
							border-style: solid;
							border-width: 5px 7px 0 7px;
							border-color: #fff transparent transparent transparent;
							margin-left: 8px; 
							top:30px;
							cursor: pointer;
						  }  
						&:hover { 
							  &:after {
								  border-color:var(--w-green) transparent transparent transparent;
							}
						}
					}
					> ul {background-color:var(--w-neutral); 
						 position:relative;
						 margin-bottom:0;
						 padding-bottom: 0;
						
						 li {
							 padding:0px 10px;
							 a {color:var(--w-neutral);
								 font-size:20px;
								 line-height:25px;
							 }
							 &:hover {
								a { 
									color:var(--w-gold) !important;
								}
							 }
							 &:last-child {
								 margin-bottom:0;
							 }
						 }
					 }
					&:hover {
						ul { display:block; }
					}
				}
		
				.sub-menu{
					  display: none;
					  padding-bottom: 10px;
					  width: 100%;
					  background-color: var(--w-green);
						  &.open{
							display: block;
						  }
					li{
						  background-color: var(--w-green);
		
						  >.sub-menu{
							display: block;
						  }
					  a{
						font-size: 20px;
						text-align: center;
						padding: 0;
						background-color: var(--w-green);
						color: #FFFFFF;
		
						&:hover{
							  opacity: .8;
						}
					  }
					  
					  &.menu-item-has-children  {
							 > a {
								  &:after {
									  content: "";
									  display: block;
									  border-style: solid;
									  border-width: 5px 7px 0 7px;
									  border-color: #fff transparent transparent transparent;
									  
									  position:absolute;
									  top:28px;
									  right:0px;
								  }
					  
							  &:hover {
								  &:after {
									  border-color:var(--w-gold) transparent transparent transparent;
								  }
							}
						  }
					  }
		
					  .open-sub{
						display: none;
					  }
					}
				}
			}
		}

}


body.home header.wellingtonMenu {
	display:none;
	
	&.fixeddisplay {
		display:block;
	}
	&.show {
		display:block;
	}
}